header, article, aside, details, figcaption, figure, footer, hgroup, main, nav, section, summary, img,body {
         background-image: url(&#39;https://cloudkizifsalari.github.io/raw/snowfall.gif&#39;) !important;
         background-repeat: repeat-y !important;
         background-size: 100% !important;
         background-attachment: fixed !important;
      }
