header, article, aside, details, figcaption, figure, footer, hgroup, main, nav, section, summary, img,body {
         /*background-image: url('https://cloudkizifsalari.github.io/raw/snowfall.gif') !important;
         background-repeat: repeat-y !important;
         background-size: 100% !important;
         background-attachment: fixed !important;*/
         animation: less 5s infinite;
         animation-delay: 3s;
         transform-origin: center;
      }
@keyframes less {
   0% {
      opacity: 1;
      transform-origin: center;
   }
   50% {
      transform: rotate(180deg);
      transform-origin: center;
   }
   100% {
      transform: rotate(180deg);
      tarnsform-origin: center;
   }
}
