* {
	margin: 0;
	padding: 0;
}
body {
	background: #303030;
	color: #ffffff;
   font-family: roboto;
   background-image: url(https://cloudkizifsalari.github.io/raw/snowfall.gif);
   background-repeat: repeat-y;
   background-size: 100%;
   background-attachment: fixed;
}
.navbar {
	width: 100%;
	height: 90px;
	background-color: #ac8aea;
	position: fixed;
	z-index: 99999999;
}
.navbarcontainer[data-container="0"] {
	position: relative;
	margin: 10px 10px;
}
.content {
	position: relative;
	top: 150px;
}
#icon {
	margin: auto;
	width: 80px;
}
.broad {
	margin: auto;
	width: 50%;
}
.broad img {
	padding-top: 30px;
   width: 100%;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   -o-border-radius: 16px;
   border-radius: 16px;
}
.broad video {
	padding-top: 30px;
}
#download-icon {
	width: 64px;
	float: right;
	clear: both;
	margin: 12px 0px;
	position: static;
}
.broad a {
   display: inline-block;
}
video {
   width: 100%;
   height: 1000vh;
   object-fit: cover;
}
img {
   pointer-events: none;
}
